@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --font-1: 'Open Sans', sans-serif;
    --font-2: 'Roboto', sans-serif;
    --font-3: 'Roboto Condensed', sans-serif;
    --color-dark-grey: #141414;
    --color-light-grey: #787878;
    --color-white: #ffffff;
    --color-blue: #00A5CC;
}
