footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 60px 0 40px 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: var(--color-1);
    user-select: none;

    .sitemap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            width: 50%;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5em;
            text-align: center;
            color: var(--color-2);
            text-decoration: none;
            transition: .2s linear;
             
            &:hover {
                color: var(--color-4);
            }
        }
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        a {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 400;
            color: var(--color-2);
            text-decoration: none;

            svg {
                display: block;
                margin: 0 auto;
                fill: var(--color-2);
                transition: .2s linear;
            }

            span {
                text-align: center;
                margin-top: 4px;
                color: inherit;
                transition: .2s linear;
            }

            &:hover {
                svg {
                    fill: var(--color-4);
                }

                span {
                    color: var(--color-4);
                }
            }
        }
    }
}
