nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    height: 75px;
    padding: 0 32px;
    font-family: var(--font-1);
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
    user-select: none;

    section {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.home {
            a {
                margin: 0 16px;
                text-transform: uppercase;
                text-decoration: none;

                h1 {
                    line-height: 1em;
                    font-size: 2.5em;
                    font-weight: 700;
                }
            }
        }

        &.links {
            a {
                position: relative;
                margin: 0 8px;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    width: 0;
                    height: 1.7px;
                    border-radius: 12px;
                    transition: all .4s ease-out;
                }

                &:hover::after {
                    left: 0;
                    width: 100%;
                }
            }

            .search {
                display: flex;
                flex-direction: row;
                margin: 0 16px;

                label {
                    display: flex;

                    svg {
                        width: 21px;
                    }
                }

                input {
                    width: 128px;
                    font-size: 16px;
                    background-color: transparent;
                    box-shadow: none;
                    border-radius: 0;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder { 
                        opacity: 1; 
                        color: #c0c0c0;
                    }
                      
                    &:-ms-input-placeholder { 
                        color: #c0c0c0;
                    }
                      
                    &::-ms-input-placeholder { 
                        color: #c0c0c0;
                    }
                }
            }
        }
    }
}
